<h1>{{ titulo }}</h1>

<mat-form-field appearance="fill">
    <mat-label>Numero 1</mat-label>
    <input matInput type="number">
</mat-form-field>
<button mat-fab extended color="primary">
    <mat-icon>home</mat-icon>
    Home
</button>